@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #272643;
  --secondary: #2c698d;
  --accent: #bae8e8;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}